* text=auto

# Force LF where Linux tools read files
*.sh          text eol=lf
*.conf        text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf
Dockerfile    text eol=lf
*.php         text eol=lf
*.js          text eol=lf
*.css         text eol=lf

# PowerShell can keep CRLF on Windows
*.ps1         text eol=crlf
